.bar-group {
	text-anchor: end;
	font-size: 1.2em;
	fill: #fff;
}

.bar-group .bar-label {
	font-weight: 300;
}

.bar-group .bar-lable-mobile {
	font-size: 0.75em;
}

.bar-group .bar-value {
	font-weight: 700;
}