#tech {
	background-color: #0d1a1f;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
}

.tech-chart-expand {
	animation: expand 2.5s;
}

.fa-star {
	padding-top: 0;
}

.svg-inline--fa {
	padding-top: 10px;
}

.tech-logo {
	padding-top: 15px;
	margin-right: 1.5em;
}

@media only screen and (max-width: 768px) {
	.tech-logo {
		margin-right: 0.3em;
	}
}

@keyframes expand {
	from {
		width: 18%;
	}
	to {
		width: 100%;
	}
}